@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__title {
    padding-bottom: 0.5rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    position: relative;
  }
  
  .section__title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 75px;
    background-color: var(--text-dark);
  }
  
  .btn {
    padding: 0.75rem 2rem;
    font-size: 0.8rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .header__bar {
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--text-dark);
    color: var(--white);
  }
  
  .nav__container {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.nav__container {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .link a {
    padding: 0 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .link a:hover {
    color: var(--text-dark);
  }
  
  .nav__icons {
    display: flex;
    gap: 1rem;
  }
  
  .nav__icons span {
    font-size: 1.25rem;
    cursor: pointer;
  }

  .buy__img {
    display: block;
  }

  .buy__img img {
    width: 600PX;
    height: 650px;
    float: left;
  }

  .buy__img h1{
    text-align: left;
   
  }

  .table1 {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
}
 
.table1, th, td {
    border: 1px solid #999;
    padding: 8px 20px;
}

  .buy__img p {
  text-align: left;
  }

  .buy__img h4 {
    text-align: left
    
  }
  .number-input{
    position: relative;
    top: 50px;
    left: 30px;
  }
  .my-button {
    position: relative;
    top: 25px;
    left: 120px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .my-button:hover {
    background-color: #45a049;
  }
  


  
